{{#header-navbar title='Memosyne'}}
  <span {{action 'addTask'}} class="icon icon-plus" style="float: right"></span>
{{/header-navbar}}

<div class="content">
  <ul class="table-view">
    {{#each}}
      <li class="table-view-cell media">
        {{#link-to 'memos.memo' this classNames='navigate-right'}}
          <div class="media-body">
            <h2>{{contact.name}}</h2>
            <p>{{body}}</p>
          </div>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
