{{#header-navbar title=contact.name}}
  {{#link-to 'memos.index' classNames="btn btn-link btn-nav pull-left"}}
    <span class="icon icon-left-nav"></span>
    Back
  {{/link-to}}
{{/header-navbar}}

<div class="content">
  <ul class="table-view">
    <li class="table-view-cell media">
      <div class="media-body">
        <h2>{{contact.name}}</h2>
        <p>{{body}}</p>
      </div>
    </li>
  </ul>
  <a {{action 'delete'}} class="btn btn-negative btn-block" style="width: 97%; margin: 0 auto;">Delete</a>
</div>

