{{#header-navbar title='Add Memo'}}
  {{#link-to 'memos.index' classNames='btn btn-link btn-nav pull-left'}}
    Cancel
  {{/link-to}}
{{/header-navbar}}

<div class='content'>
  <div class="box">
    <form>
      {{view "select"
          content=contacts
          value=contact
          optionValuePath="content.id"
          optionLabelPath="content.name" }}
      {{#link-to 'add-contact' classNames="btn add-contact"}}Add{{/link-to}}
      {{input type="text" classNames="date-picker" value=date }}
      {{textarea placeholder="What do you want to send?" value=body }}
      <button {{action 'save' }} class="btn btn-positive btn-block">Save Memo</button>
    </form>
  </div>
</div>

