{{#header-navbar title='Add Memo'}}
  {{#link-to 'memos.index' classNames='btn btn-link btn-nav pull-left'}}
    Cancel
  {{/link-to}}
{{/header-navbar}}

<div class='content'>
  <input type="text" placeholder="Enter a name or phone number..." />
  <label>When:</label>
  <input type="text" />
  <label>Method:</label>
  <input type="text" placeholder="Enter a phone number" />
  <textarea name="message" placeholder="What do you want to say?"></textarea>
</div>

