{{#header-navbar title='Add Memo'}}
  {{#link-to 'memos.index' classNames='btn btn-link btn-nav pull-left'}}
    Cancel
  {{/link-to}}
{{/header-navbar}}

<div class='content'>
  <h1>Test</h1>
</div>

