<ul class="table-view">
	<li class="table-view-cell table-view-divider">Memos</li>
	{{#each}}
		<li class="table-view-cell media">
			<a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
        <div class="media-body">
          <h2>Rick James</h2>
          <p>{{body}}</p>
        </div>
      </a>
		</li>
	</li>
	{{/each}}
</ul>
