{{header-navbar title="Login"}}

<div class="content">
  <div class="box">
    <form>
      {{input type="email" placeholder="Email Address" value=emailAddress }}
      {{input type="password" placeholder="Password" value=password  }}
      <button class="btn btn-positive btn-block">Choose existing</button>
    </form>
  </div>
</div>

